<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfmZED_EDmiwA9o96q2uPm4NxIGmiyG9c</string>
	<key>GCM_SENDER_ID</key>
	<string>867501790459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swapLife.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>swap-life</string>
	<key>STORAGE_BUCKET</key>
	<string>swap-life.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867501790459:ios:274dadd466aeabb9738c5e</string>
</dict>
</plist>